.comic {
  margin: 0 auto 80px auto;
  color: #333;
}
.comic-img {
  width: 100% !important;
  height: 50vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.comic-title {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-gap: 20px;
  margin: 50px auto;
  padding: 30px;
}
.comicDetail-img {
  width: 100%;
}
@media (max-width: 400px) {
  .comicDetail-img {
    display: none;
  }
  .comic-title {
    grid-template-columns: 1fr;
    margin: 30px auto;
  }
}