*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* End of Scroll Styles */
.inner-scroll::-webkit-scrollbar {
  height: 3px;
  margin-top: 30px;
  width: 3px;
} 
.inner-scroll::-webkit-scrollbar-thumb {
  background-color: #e62429;
}
/* End of Scroll Styles */

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}
